<!-- <p id="notice"><%= notice %></p> -->
<% @attendance_lists.each do |attendance_list| %>
  <div class="index_row clearfix">
    <h2 class="attendance_list_title"><%= link_to attendance_list.title, attendance_list %></h2> 
    <p class="attendance_list_sub_title"><%= attendance_list.description %> </p>
  </div>
<% end %> 

<div class="links">
  <%= link_to "New Session", new_attendance_list_path %>
</div> 
