<p> <%= attendance_item.content %> </p>

<%= link_to "Delete", attendance_list_attendance_item_path(@attendance_list, attendance_item.id), method: :delete, data: {confirm: "Are you sure you want to delete?"} %>